@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Smooch+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #6a6a6a;
    font-family: Russo one, sans-serif;
    font-weight: 300;
}

a:link,
a:visited {
    text-decoration: none;
    color: #020303;
    text-shadow: 1px 1px #8c97a9;
}

/* Hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/alex-suprun-AHnhdjyTNGM-unsplash\(1\)större.jpg') no-repeat center center;
}

/* headings and logo */

header {
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    color: #020303;
    text-shadow: 1px 1px #8c97a9;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    color: #020303;
    text-shadow: 1px 1px #8c97a9;
}

#logo {
    margin-top: 20px !important;
    /*text-shadow: 1px 1px #8c97a9;*/
    font-size: 230%;
    display: inline;

}

/* navigation */

nav {
    background-color: #6a6a6a;
    height: 70px;
}

nav ul {
    display: inline;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}

nav ul li {
    display: inline-block;
    margin: 5px;
    font-size: x-large;
}

a:hover {
    color: #8c97a9;
    text-shadow: 1px 1px #020303;
    transition: 0.3s;
}

#about {
    height: 800px;
    padding-top: 40px;
}

#about-box {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    padding-top: 40px;
}

p {
    font-family: 'Smooch Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    letter-spacing: 2px;
}

#about-box > h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5px;
}

.founder {
    border: 2px solid black;
    height: 300px;
    width: 250px;
    float: left;
    margin: 30px 0 0 60px;
}

#man-in-garage {
    height: 300px;
    width: 250px;
    margin: 0 auto;
    float: left;

}

.under {
    border: 2px solid black;
    height: 146px;
    width: 400px;
    float: right;
    margin: 30px 60px 0 0;
}

#man-under-car {
    height: 146px;
    width: 400px;
    float: right;
    margin: 0 auto;
}

.tool {
    border: 2px solid black;
    height: 146px;
    width: 400px;
    float: right;
    margin: 5px 60px 0 0;
}

#man-with-tool {
    height: 146px;
    width: 400px;
    float: right;
    margin: 0 auto;
}

#welcome {
    padding-top: 40px;
    clear: both;
}

#services-section {
    height: 800px;
}


#services-box {
    height: 250px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}

#services-box > h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 40px;
}

#services-box > p {
    margin-bottom: 50px;
}

#full-service-div {
    float: left;
}

#full-service {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
}

#enginebay {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#alignment-div {
float: left;
padding-left: 250px;


}

#alignment {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

#wheel {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}


#diagrep-div {
    float: left;
    padding-left: 250px;
}

#diagrep {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

#rep {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#diagrep-div > h2 {
    text-align: center;
}

#contact-section {
    height: 400px;
    margin-top: 400px;
}

#get-in-touch {
    padding-top: 70px;
}

#contact-section > h2 {
    text-align: center;
    margin-bottom: 100px;
    font-size: xx-large;
}

#contact-box {
    height: 300px;
    width: 1200px;
    margin: 0 auto;

}

#contact-div {
    height: 200px;
    width: 400px;
    float: left;
    margin-left: 30px;
}

#visit-div {
    height: 200px;
    width: 240px;
    float: right;
    padding-right: 60px;
}

#visit-div > h2 {
    text-align: right;
}

span {
    letter-spacing: 1px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: x-large;
}

.right-spans {
    text-align: right;
}

#open-times-box {
    border: 2px solid black;
    width: 500px;
    height: 40px;
    clear: both;
    margin-left: 350px;
}

#open-times {
    text-align: center;
    clear: both;
    padding-top: 10px;
}

footer {
    height: 300px;
    margin-top: 200px;
}

#footer-text {
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #020303;
    text-shadow: 1px 1px #8c97a9;
}

.the-services {
    height: 800px;
}

.back-button {
    width: 50px;
    height: 50px;
    position: absolute;
    padding-top: 101px;
    padding-left: 700px;
}

.services-headline {
    height: 70px;
    width: 400px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.services-text {
    height: 170px;
    width: 800px;
    padding-top: 50px;
    margin: 0 auto;
}

.service-img-box {
    height: 300px;
    width: 550px;
    margin: 0 auto;
    border: 2px solid black;
}

.service-img {
    height: 300px;
    width: 550px;
    margin: 0 auto;
}

#form-section {
    width: 640px;
    height: 580px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
}

#form-big {
    width: 640px;
    height: 780px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
}

#form-section h2, p {
    text-align: center;
    padding-bottom: 10px;
}

form {
    padding-top: 30px;
}

label {
    font-family: 'Smooch Sans', sans-serif;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
}

input {
    width: 600px;
    padding: 10px;
    margin: 7px;
    border-radius: 4px;
    border: 2px solid black;
    background-color: #6a6a6a;
}

input:hover {
    background-color: #8c97a9;
}

input:focus {
    background-color: #8c97a9;
}

input[type=submit] {
    width: 100px;
    height: 60px;
    float: right;
    margin-top: 20px;
}

#send-button {
    font-size: larger;
    font-family: Russo One, sans-serif;
    text-shadow: 1px 1px #8c97a9;
}

::placeholder {
    color: black;
}

textarea {
    width: 600px;
    padding: 10px;
    margin: 7px;
    border-radius: 4px;
    border: 2px solid black;
    background-color: #6a6a6a;
}

/*select {
    width: 622px;
    padding: 10px;
    margin: 7px;
    border-radius: 4px;
    border: 2px solid black;
    background-color: #6a6a6a;
}

select:focus {
    background-color: #8c97a9;
}

select:hover {
    background-color: #8c97a9;
}*/