@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Smooch+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #465775;
    font-family: Russo one, sans-serif;
    font-weight: 300;
}

a:link,
a:visited {
    text-decoration: none;
    color: #8c97a9;
}

/* Hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/alex-suprun-AHnhdjyTNGM-unsplash\(1\)större.jpg') no-repeat center center;
}

/* headings and logo */

header {
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    color: #8c97a9;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#logo {
    margin-top: 20px !important;
    text-shadow: 3px 3px #30405c;
    font-size: 230%;
    display: inline;

}

/* navigation */

nav {
    background-color: #465775;
    height: 70px;
}

nav ul {
    display: inline;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}

nav ul li {
    display: inline-block;
    margin: 5px;
}

a:hover {
    color: #1c2e4d;
    transition: 0.4s;
}

#about {
    height: 700px;
    padding-top: 40px;
}

#about-box {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    padding-top: 40px;
}

#about-box > p {
    font-family: 'Smooch Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    letter-spacing: 2px;
}

#about-box > h2 {
    /*font-family: 'Smooch Sans', sans-serif;*/
    color: #8c97a9;
    text-shadow: 3px 3px #30405c;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5px;
}

.founder {
    border: 2px solid black;
    height: 300px;
    width: 250px;
    float: left;
    margin: 30px 0 0 60px;
}

#man-in-garage {
    height: 300px;
    width: 250px;
    margin: 0 auto;
    float: left;

}

.under {
    border: 2px solid black;
    height: 146px;
    width: 400px;
    float: right;
    margin: 30px 60px 0 0;
}

#man-under-car {
    height: 146px;
    width: 400px;
    float: right;
    margin: 0 auto;
}

.tool {
    border: 2px solid black;
    height: 146px;
    width: 400px;
    float: right;
    margin: 5px 60px 0 0;
}

#man-with-tool {
    height: 146px;
    width: 400px;
    float: right;
    margin: 0 auto;
}

#services-section {
    height: 800px;
}

#services-section h2 {
    color: #8c97a9;
    text-shadow: 3px 3px #30405c;
}

#services-box {
    height: 250px;
    width: 1000px;
    margin: 0 auto;
}

#full-service-div {
    float: left;
}

#full-service {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;

}

#enginebay {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#alignment-div {
float: left;
padding-left: 250px;


}

#alignment {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

#wheel {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}


#diagrep-div {
    float: left;
    padding-left: 250px;
}

#diagrep {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

#rep {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#diagrep-div > h2 {
    text-align: center;
}

#contact-section {
    height: 400px;
    margin-top: 100px;
}

#contact-box {
    height: 300px;
    width: 1200px;
    margin: 0 auto;

}

#contact-div {
    height: 200px;
    width: 400px;
    float: left;
    margin-left: 30px;
}

#visit-div {
    height: 200px;
    width: 240px;
    float: right;
    padding-right: 60px;
}

#visit-div > h2 {
    text-align: right;
}

#contact-box h2 {
    color: #8c97a9;
    text-shadow: 3px 3px #30405c;
}

span {
    letter-spacing: 1px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: x-large;
}

.right-spans {
    text-align: right;
}

#open-times-box {
    border: 2px solid black;
    width: 500px;
    height: 40px;
    clear: both;
    margin-left: 350px;
}

#open-times {
    text-align: center;
    color: #8c97a9;
    text-shadow: 3px 3px #30405c;
    clear: both;
    padding-top: 10px;
}

footer {
    height: 300px;
}

#footer-text {
    text-align: center;
    text-shadow: 2px 2px #30405c;
}

.social-networks {
    text-align: center;
    text-shadow: 2px 2px #30405c;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #8c97a9;
}