@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Smooch+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #6a6a6a;
    font-family: Russo one, sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Smooch Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    letter-spacing: 2px;
}

/* Hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    margin: 0 auto;
}

/* Headings and Logo */

header {
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    color: #020303;
    text-shadow: 1px 1px #8c97a9;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    color: #020303;
    text-shadow: 1px 1px #8c97a9;
}

#logo {
    padding-top: 20px !important;
    padding-left: 20px;
    font-size: 230%;
    display: inline;
}

/* Navigation */

a:link,
a:visited {
    text-decoration: none;
    color: #020303;
    text-shadow: 1px 1px #8c97a9;
}

nav {
    background-color: #6a6a6a;
    height: 70px;
}

nav ul {
    display: inline;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}

nav ul li {
    display: inline-block;
    margin: 5px;
    font-size: x-large;
}

a:hover {
    color: #8c97a9;
    text-shadow: 1px 1px #020303;
    transition: 0.3s;
}

/* About Section */

#about {
    padding-top: 40px;
    width: 95vw;
    margin: auto;
}

#about-box {
    margin: 0 auto;
    padding-top: 40px;
    width: 50%;
}

#about-box > h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5px;
}

#picture1-div {
    width: 250px;
    margin: auto;
}

#man-in-garage {
    border: 2px solid black;
    width: 250px;
}

#welcome {
    padding-top: 40px;
    clear: both;
}

/* Services Section */

#services-section {
    width: 95vw;
    height: 400px;
    margin: auto;
    padding-top: 250px;
}

#services-section-box {
    width: 50%;
    margin: 0 auto;
}

#services-section-box > h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 40px;
}

#services-section-box > p {
    margin-bottom: 50px;
}

#services-box {
    width: 700px;
    margin: auto;
    display: block;
}

#full-service-div {
float: left;
}

#full-service {

    height: 100px;
    width: 100px;
}

#enginebay {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#full-service-div > h2 {
    text-align: center;
}

#alignment-div {
    float: left;
    padding-left: 25%;
}

#alignment {
    height: 100px;
    width: 100px;
}

#wheel {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#alignment-div > h2 {
    text-align: center;
}

#diagrep-div {
    float: left;
    padding-left: 20%;
}

#diagrep {
    height: 100px;
    width: 100px;
}

#rep {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#diagrep-div > h2 {
    text-align: center;
}

/* Contact Section */

#contact-section {
    width: 95vw;
    margin: auto;
    padding-top: 250px;
}

#get-in-touch {
    padding-top: 70px;
}

#contact-section > h2 {
    text-align: center;
    margin-bottom: 100px;
    font-size: xx-large;
}

#contact-box {
    margin: 0 auto;
    width: 50%;
}

#contact {
    float: left;
}

#contact-div {
    padding-bottom: 30px;
    width: 80%;
}

#visit {
    float: right;
}

#visit-div {
    height: 200px;
    width: 240px;
}

#visit-div > h2 {
    text-align: right;
}

span {
    letter-spacing: 1px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: x-large;
}

.right-spans {
    text-align: right;
}

#open {
    width: 70%;
    margin: auto;
}

#open-times {
    border: 2px solid black;
    text-align: center;
    padding-top: 10px;
    clear: both;
    margin: auto;
}

/* Footer Section*/

footer {
    width: 95vw;
    margin: auto;
    padding-top: 300px;
}

#footer-box {
    margin: 0 auto;
}

#footer-text {
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #020303;
    text-shadow: 1px 1px #8c97a9;
}

/* Styling for the three side-pages */

.the-services {
    width: 95vw;
    margin: auto;
}

.services-headline {
    height: 70px;
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.services-text {
    padding-top: 50px;
    text-align: center;
    margin: auto;
    width: 50%;
}

#service-images {
    margin: auto;
}

.service-img-box {
    width: 530px;
    margin: 0 auto;
}

.service-img {
    border: 2px solid black;
    width: 530px;
}

/* Styling for the forms */

#form-section {
    width: 95vw;
}

#form-big {
    width: 95vw
}

#form-text {
    width: 50%;
    margin: auto;
}

#form-big h2, p {
    text-align: center;
    padding-bottom: 10px;
}

#form-section h2, p {
    text-align: center;
    padding-bottom: 10px;
}

.the-form {
    width: 640px;
    height: 500px;
    margin: auto;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
}


form {
    padding-top: 30px;
}

label {
    font-family: 'Smooch Sans', sans-serif;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 7px;
    border-radius: 4px;
    border: 2px solid black;
    background-color: #6a6a6a;
}

input:hover {
    background-color: #8c97a9;
}

input:focus {
    background-color: #8c97a9;
}

input[type=submit] {
    width: 100px;
    height: 60px;
    float: right;
    margin-top: 20px;
}

#send-button {
    font-size: larger;
    font-family: Russo One, sans-serif;
    text-shadow: 1px 1px #8c97a9;
}

::placeholder {
    color: black;
}

#thank-you {
    width: 95vw;
    margin: auto;
}

#thank-you-div {
    padding-top: 100px;
    text-align: center;
    font-size: 200%;
}

#thank-you-div > p {
    font-family: 'Smooch Sans', sans-serif;
    font-size: xx-large;
}

/* Media query for max width 1100px */

@media screen and (max-width: 1100px) {

    #services-section {
        width: 100%;
        padding-bottom: 500px;
        padding-top: 90px;
    }

    #contact-section {
        width: 100%;
        padding-top: 90px;
    }

    #contact-box {
        padding: 10% 15% 0 15%;
    }

    footer {
        padding-top: 250px;
        width: 100%;
    }

    #services-box {
        width: 100%;
    }

    #services-box > div {
        margin: auto;
        height: 100px;
        padding-left: 40%;
    
    }

    #full-service-div {
        padding-top: 50px;
    }

    #alignment-div {
        padding-top: 100px;
        clear: both;
    }

    #diagrep-div {
        padding-top: 100px;
    }

    #about {
        height: auto;
        width: 80%;
        display: block;
    }

    #about-box {
        width: 80%;
        display: block;
    }

    .the-services {
        margin: 0 auto;
    }

    .services-headline {
        height: 50px;
        margin: 0 auto;
    }

    .services-text {
        height: auto;
        margin: auto;
    }

    #open-times-box {
        width: 80%;
        clear: both;
        border: none;
    }

    .the-form {
        width: 60%;
    }

}

/* Media query for max-width 811px */

@media screen and (max-width: 811px) {

    nav {
        height: 90px;
    }

    #about-box {
        padding-top: 60px;
    }

}


/* Media query for max width 575 */

@media screen and (max-width: 575px) {

    #picture1-div {
        width: 200px;
    }

    .service-img-box {
        width: 350px;
    }

    .service-img {
        width: 350px;
    }

    input {
        width: 85%;
    }
}

/* Media query for max width 438px */

@media screen and (max-width: 438px) {
    
    nav {
        height: 130px;
    }

    #about {
    padding-top: 90px;
    }

    #contact-section {
        padding-top: 140px;
    }

    #services-section {
        padding-top: 150px;
    }

    .service-img-box {
        width: 300px;
    }

    .service-img {
        width: 300px;
    }

    #picture1-div {
        width: 150px;
    }

    #man-in-garage {
        width: 150px;
    }

    #thank-you-div {
        padding-top: 150px;
    }
}

/* Media query for max width 369px */

@media screen and (max-width: 369px) {
    
    nav {
        height: 160px;
    }

    #thank-you-div {
        padding-top: 200px;
    }
}